    body {
        background-color: #ffffff;
    }
    
    .content {
        margin: 15px;
        border-radius: 30px;
        /* width: auto; */
        border: 5px solid #000000;
        margin: 25px;
        display: block;
        justify-content: center;
    }
    
    .content h1 {
        font-size: 50px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    .audio {
        border-radius: 30px;
        border: 5px solid #000000;
        margin: 100px;
        margin-left: 30px;
        width: 35rem;
        float: left;
        height: 30rem;
    }
    
    .video {
        margin: 15px;
        border-radius: 30px;
        display: inline-block;
        border: 5px solid #000000;
        margin: 100px;
        margin-left: 70px;
        width: 35rem;
    }
    
    .audio p {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bolder;
    }
    
    .video p {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bolder;
    }
    
    audio {
        width: 80%;
        margin: 55px;
        filter: drop-shadow(-10px -10px 20px #ffffff) drop-shadow(10px 10px 20px #000000);
    }
    
    video {
        width: 80%;
        height: 15rem;
        margin: 55px;
        filter: drop-shadow(-10px -10px 20px #ffffff) drop-shadow(10px 10px 20px #000000);
    }