body {
    background-color: aliceblue;
    margin: 0;
}

.navbar {
    background-color: rgb(43, 40, 40);
    height: 90px;
    width: 100%;
    position: absolute;
    transition: top 0.3s;
    top: 0;
    /* margin-top: 15px; */
    /* margin-left: 40px; */
    /* border-radius: 30px; */
    filter: drop-shadow(-7px -4px 4px rgb(93, 93, 93)) drop-shadow(8px 3px 5px rgb(121, 122, 122));
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url('../images/CGC.jpg') no-repeat center center;
}

.navbar .logo {
    float: left;
    font-size: 22px;
}

.navbar .logo img {
    height: 70px;
    float: left;
    width: 48px;
    margin-left: 4rem;
    margin-top: 10px;
}

.navbar .logo h1 {
    font-size: 25px;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8rem;
    width: 15rem;
}

.navbar .menubar {
    float: right;
    margin-right: 2rem;
}

.navbar #myLinks {
    display: none;
    overflow: hidden;
}

.navbar .menubar .btn {
    background-color: aqua;
    color: black;
    border-radius: 30px;
    filter: drop-shadow(-7px -4px 4px rgb(0, 0, 0)) drop-shadow(8px 3px 5px rgb(122, 122, 122));
}

.navbar .menubar .btn1 {
    background-color: rgb(14, 149, 222);
    color: black;
    border-radius: 30px;
    filter: drop-shadow(-7px -4px 4px rgb(0, 0, 0)) drop-shadow(8px 3px 5px rgb(122, 122, 122));
}

.navbar .menubar .btn:hover {
    background-color: rgb(43, 40, 40);
    color: whitesmoke;
    transition: 1.5s;
}

.navbar .menubar a {
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    position: relative;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 30px;
    filter: drop-shadow(-7px -4px 4px rgb(0, 0, 0)) drop-shadow(8px 3px 5px rgb(122, 122, 122));
}

.navbar .menubar a:hover {
    background-color: rgb(189, 189, 189);
    color: black;
    transition: 0.5s;
}

ul li {
    display: inline-block;
}

.section {
    /* background-color: rgba(255, 246, 246, 0.753); */
    height: 45rem;
    display: block;
    padding: 35px;
    padding-top: 5rem;
}

.section p {
    font-size: 20px;
    /* color: white; */
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.one {
    background-image: url("../images/cgc_main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.one p {
    font-size: 50px;
    margin-top: 15rem;
    color: white;
    margin-left: 15px;
    width: auto;
}

.three {
    background-color: rgba(215, 38, 124, 0.578);
    top: 0;
}

.two {
    background-image: url("../images/cgc_about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two p {
    color: #a50034;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.two .about_content {
    background-color: #d7d6d5;
    width: 90rem;
    height: 35rem;
    -webkit-box-shadow: 21px 21px 49px #202020, -21px -21px 49px #6d6d6d;
    box-shadow: 21px 21px 49px #202020, -21px -21px 49px #6d6d6d;
}

.two .about_content .text_area {
    margin: 15px;
    padding: 2rem;
    width: 35rem;
    margin-right: 15px;
    display: inline-block;
}

.two .about_content .image_area {
    display: inline-block;
    width: 35rem;
    padding: 30px;
}

.image_area .box_one {
    width: 15rem;
    height: 20rem;
    display: inline-block;
    border: #fff 10px solid;
    background-color: #d7d6d5;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
}

.image_area .box_two {
    width: 15rem;
    height: 20rem;
    float: right;
    border: #fff 10px solid;
    background-color: #d7d6d5;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
}

.image_area .box_one:hover {
    transform: perspective(3000px) rotateY(5deg);
    filter: drop-shadow(-10px -10px 5px #ffffff) drop-shadow(10px 10px 5px #4c4c55);
    transition: 0.5s;
}

.image_area .box_two:hover {
    transform: perspective(3000px) rotateY(5deg);
    filter: drop-shadow(-10px -10px 5px #ffffff) drop-shadow(10px 10px 5px #4c4c55);
    transition: 0.5s;
}

.image_area .box_one img {
    width: 15rem;
    transition: all .3s ease;
}

.image_area .box_two img {
    width: 15rem;
    transition: all .3s ease;
}

.two .image_area .box_one,
.box_two p {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.image_area .box_two h5 {
    font-size: 15px;
}

.image_area .box_one p {
    font-size: 15px;
}

.image_area .box_two p {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.three {
    background-image: url("../images/chandigarh-group-of-colleges-jhanjeri-mohali-engineering-colleges-ebm22jupvx.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.programs {
    /* background-color: #f2f2f2; */
    /* filter: blur(4px); */
    backdrop-filter: blur(20px);
    border-radius: 15px;
    height: 30rem;
    padding: 5rem;
}

.programs p {
    color: black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.programs ul {
    overflow: hidden;
}

.programs ul li {
    transition: all .3s ease;
    font-size: 30px;
    background-color: #a50034;
    color: rgb(141, 141, 141);
    font-weight: bolder;
    width: 35rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.programs .program-data {
    display: inline-block;
    width: 40rem;
}

.programs .finder {
    width: 35rem;
    height: 15rem;
    float: right;
    margin-top: 95px;
    border-radius: 5px;
    background-color: #a50034;
    font-size: 15px;
}

.finder label {
    font-size: 35px;
    margin: 15px;
    color: #fff;
}

.finder .selecter_program {
    margin: 10px;
    width: 32rem;
    height: 40px;
    border-radius: 10px;
}

.finder p {
    font-size: 16px;
    margin: 10px;
    color: #fff;
}

.four {
    background-color: #322d48;
}

.four p {
    font-size: 34px;
    color: #fff !important;
    line-height: 0.2em;
    text-align: center;
    font-family: 'Oswald', sans-serif !important;
    font-weight: bolder;
    letter-spacing: 10px;
}


/* 
.card_container {
    width: 15px;
} */

.card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 12px 12px 15px #4a5680, -12px -12px 15px #c0deff;
    box-shadow: 12px 12px 15px #4a5680, -12px -12px 15px #c0deff;
    transition: 0.3s;
    width: 20rem;
    height: 18rem;
    background-color: aliceblue;
    border-radius: 10px;
    display: inline-block;
    margin-left: 120px;
    margin-top: 30px;
}

.card img {
    width: 20rem;
    height: 13rem;
    border-radius: 10px 10px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}